/* Set box-sizing to default border-box */
* {
	box-sizing: border-box;
}

h1{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	alin
}
nav {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 9px;
	align
}

hr{
	width: 80%;
}